//
// Buttons
//
.totcbase-button {
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid @accent;
	border-radius: @radius;
	font-weight: @bold;
	color: @accent;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus {
		outline: 0;
		background: @accent;
		color: @text-on-accent;
	}

	&:active {
		background: @accent-lift;
	}

	&:disabled {
		border-color: @bg;
		color: @text-light;

		&:hover,
		&:focus,
		&:active {
			background: @bg;
			color: @text-light;
		}
	}
}

.totcbase-button-accent {
	.totcbase-button;
	background: @accent;
	color: @text-on-accent;

	&:hover,
	&:focus {
		background: @accent-lift;
		border-color: @accent-lift;
	}

	&:active {
		background: @accent;
		border-color: @accent;
	}
}
